<script setup lang="ts">
import MainView from "./views/MainView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";

const loginStore = useLoginStore();
</script>

<template>
  <MainView></MainView>
</template>
